.join-button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: azure;
    border-radius: 50%;
    border: 1px solid azure;
    display: flex;
    align-items: center;
    justify-content: center;
}
